# Node modules & logs
node_modules/
npm-debug.log*

# Docker / Environment
.env
*.log

# Ergebnisdaten (werden neu generiert)
data/results/raw/cd
data/results/processed/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
